* {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 24px;
}
body{
    background-color: white;
}
.menu{
    width:100%;
    height: 50px;
    background-color: white;
    margin-left: 10em;
}
ul li{
    float:left;
    display:flex;
    padding: 15px;
    font:inherit;
    font-size: 14px;
    cursor: default;
    color:#6e6e73;
    font-weight: 100;
}
li:hover{
    cursor: pointer;
    color:black;
}
i{
    font-size:14px;
}
blockquote{
    text-align: center;
    font-size:14px;
    color:#6e6e73;
}
a{
    font-size:14px;
    color:blue;
    cursor: pointer;
}
.iphone-15 img{
    position:relative;
    width:100%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
}
b{
 position:absolute;
 font-weight:lighter;
 left:25em;
 top:8em;
 color:white;
}
strong{
    font-size:2em;
    font-weight: 600;
}
.jfr{
    font-size:16px;
}
.her0-15 img{
    position:relative;
    width:100%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
    
}
.h-15{
    position:absolute;
    font-weight:normal;
    left:25em;
    top:40em;
    color:black;
}
.her0-watch img{
    position:relative;
    width:100%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
    
}
.h-wa{
    position:absolute;
    font-weight:normal;
    left:25em;
    top:55em;
    color:white;
}
#ki{
    font-weight:bolder;
    font-size:1.5em;
}
aside{
    color:red;
}
.ulttra-wat img{
    float: left;
    position:relative;
    width:50%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
    
}
.h-wal{
    position:absolute;
    font-weight:normal;
    left:10em;
    top:90em;
    color:black;
}


.h-war{
    position:absolute;
    font-weight:lighter;
    left:35em;
    top:90em;
    color:black;
}
.gyl img{
    float: left;
    position:relative;
    width:50%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
    
}
.h-a{
    position:absolute;
    font-weight:normal;
    left:8em;
    top:117em;
    color:black;
}
.watch_app img{
    float: left;
    position:relative;
    width:50%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
    
}
.ad{
    position:absolute;
    font-weight:normal;
    left:35em;
    top:120em;
    color:black;
}
.gy img{
    float: left;
    position:relative;
    width:50%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
    
}
.h-ua{
    position:absolute;
    font-weight:lighter;
    left:7em;
    top:140em;
    color:black;
}

.pod img{
    float: left;
    position:relative;
    width:50%;
    padding-left: 0;
    padding-right: 0;
    vertical-align: baseline;
    height:650px;
    
}
.h-g{
    position:absolute;
    font-weight:lighter;
    left:40em;
    top:145em;
    color:white;
}
.slide{
    margin-top: 300px;
    width:1200px;
    position: relative;
    top:80%;
    left: 10em;
    overflow: hidden;
    height:34em;
}

.fade{
    width:100%;
    display: flex;
    animation: slide_anime 16s infinite;

}
.fade img{
    width:100%;
    height:700px;
}


@keyframes slide_anime{
    0%{
        transform:translateX(0);
    }
    7%{
        transform: translateX(0);
    }
    14%{
        transform: translateX(-100%);
    }
    28%{
        transform: translateX(-200%);
    }
    42%{
        transform: translateX(-300%);
    }
    50%{
        transform: translateX(-300%);
    }
    56% {
        transform: translateX(-400%);
    }
    63% {
        transform: translateX(-400%);
    }
    70%{
        transform: translateX(-500%);
    }
    78%{
        transform: translateX(-500%);
    }
    86%{
        transform: translateX(-600%);
    }
    93%{
        transform: translateX(-600%);
    }
    100%{
        transform:translateX(-700%);
    }
}


.footer-section{
    background-color:#f5f5f7;
    
}

p{
    margin-left:280px;
    margin-right: 280px;
    font-size:12px;
    color:#6e6e73
}
hr{
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}
.footnotes{
    display:flex;
    flex-wrap: nowrap;
    padding:200px;
    margin-left: 10%;
    margin-right: 10%;
    height: 30em;
    

}
#items{
    padding: 50px;
    flex-basis: 20%;
}
#lij ul li{
    flex-basis: 20%;
    font-size: 12px;
}
#hut{
    font-size:13px;
    color: black;
}
.disclaimer
{
    text-align: center;  
}
.disclaimer a{
    font-size: 11px;
    text-decoration: underline;
}

.disclaimer p{
    float:left;
    padding: 5px;
    display: flex;

}
#kira  li{
    float: left;
    display: flex;
    font-size: 12px;
    text-align: center;

}



